* {
    /*outline: 1px solid orange;*/
}
body {
  margin: 0;
  padding: 0;
 
    font-size: 14px;
    line-height: 20px;
    font-family:  monospace;
    color: #ffffff;
    background-image: url(../img/background-space.jpg);*
}
.site-header {
    display: block;
  min-height: 100px;
  padding-top: 30px;
  padding-bottom: 105px;
     
}
.container {
width: 1040px;
  margin: 0 auto;
    padding-left: 80px;

}
.site-header .container {
    padding-bottom: 90px;
  background-image: url(../img/earth440x440.png);
  background-repeat: no-repeat;
  background-position: 520px 90px;
/*background-color: #113132;*/
}
.main-nav {
    display: flex;
    margin-top: 30px;
    width: 960px;
}
.logo {
  width: 60px;
  height: 60px;
  margin-right: 60px;
}
.site-menu {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
    
    list-style: none;
      background-color: #000000;
/*list-style-image: url(../img/right-arrow-dark.png);*/
}
.site-menu a {
  display: block;
  margin-right: 40px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Courier New";
    font-weight: bold;
}
.contacts-menu {
  display: flex;
  justify-content: flex-end;
   width: 480px;
  margin-top: 30px;
  margin-left: auto;
    margin-bottom: 0px;
  padding: 0;

      background-color: #000000;
  list-style: none;
   /*font-size: 0;*/
}
.contacts-menu a {
    display: block;
  width: 17px;
  height: 17px;
}
.visually-hidden{
    font-size: 0;
}
.contacts-menu li {
  margin-left: 10px;
}

.contacts-menu a:hover {
  opacity: 0.8;
}

.contacts-menu a:active {
  opacity: 0.4;
}
.contacts-menu .icon-mail {
  background-image: url(../img/mail-icon.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.contacts-menu .icon-phone {

  background-image: url(../img/phone-icon.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.contacts-menu .icon-video {
     background-image: url(../img/video-icon.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.about-us {
  width: 300px;
  margin-left: 120px;
}

.about-us h1 {
  margin: 0;
  margin-bottom: 30px;
    margin-top: 80px;
  padding: 0;
   
    
    font-size: 25px;
  line-height: 40px;
  font-family: monospace;
  color: white;
    background-color: #000000;
}
.about-us p {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 5px;
    
    background-color: #000000;
}
.btn-yellow {
  position: relative;

  display: inline-block;
  width: 195px;
  padding: 0 25px;
    margin-bottom: 20px;
    font-size: 25px;
  line-height: 50px;
  font-family: "monospace";
      font-weight: bold;


}
.btn-yellow:after {
  content: "";

  position: absolute;
  right: 20px;
  top: 17px;

  width: 42px;
  height: 42px;

  background-image: url(../img/rocketicon.png);
    
}

.btn-yellow {
  background-color: #feca30;

}

.btn-yellow:hover {
  background-color: white;
}

.btn-yellow:active {
  background-color: #c1a300;
}
.about-us a{
    padding: 20px;
    font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;

  cursor: pointer;
  border: none;
  border-radius: 50px;
}
.first {
    padding: 80px 0;
}
.first-list {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin:0;
    padding:0;
    list-style: none;
    
}
.first-list li {
    width: 180px;
    margin-right: 80px;
    
    background-color: #000000;
    
    
  /*  
    font-size: 14px;
    line-height: 20px;
    color: #d4d4d4*/
}
.first-list a{
    text-decoration: none;
      color: #ffffff;
}
.scale {
    transition: 1s;/* Время эффекта */
    text-align:center;
font-size: calc(0em + 0.9vw);
   }
   .scale:hover {
    transform: scale(2); /* Увеличиваем масштаб */
   }
 .columns-container {
    display: flex;
}
 .left-column {
    width: 440px;
    margin-right: 80px;
}
.right-column {
  width: 440px;
}
.moon-vacation, .spaceagency {
  padding-top: 80px;
  padding-bottom: 50px;
}
.spaceagency .right-column {
    background-color: #000000; 
}
.agency {
    display: block;
  margin: 0;
  padding: 0;
    list-style:url(../img/companies25x25.png);
    text-align:center;
}
.agency-title, .lead{
    text-align: center;
    font-family: "monospace";
      font-weight: bold;
}
.agency li:hover {
  background-color: white;
}

.agency li:active {
  background-color: #c1a325;
}
.agency li {
     margin:20px 30px 20px 40px;
    background-color: #e1a325
}
.agency a {
display: block;
  padding: 10px;
     text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "monospace";
      font-weight: bold;
}
.future-space {
      text-align:justify;
    color: black;
}
.komers {
      text-decoration: none;
    text-align:right;
}
.lead{
    margin-top: 0;
  margin-bottom: 20px;
        text-align:center;
    padding: 10px;
    margin: 10px;
    color: black;
}
.future .left-column {
  background-color: #e1a325;
}
.ytb-video {
  position: relative;
  padding-bottom: 75%; /* задаёт высоту контейнера для 4:3 (если 16:9 — поставьте 56.25%) */
  height: 3px;
  overflow: hidden;
}
.ytb-video iframe {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
.recommendations {
  padding-top: 50px;
  padding-bottom: 55px;
}
.recommendations .left-column, .right-column{
   background-color: #e1a325;  
}
.recommendations h3 {
  margin-top: 0;
  margin-bottom: 20px;
    padding:0px 10px;
    color: black;
}
.recommendations-list {
  margin: 0;
  padding: 0;
  padding-left: 30px;
   

  list-style: none;
    color: black;
}

.recommendations-list li {
  position: relative;
  margin-bottom: 20px;
     margin-right: 30px;
     background-color: #ffffff;
}
.site-footer {
  padding-top: 50px;
  padding-bottom: 80px;
/*

  color: #ffffff;

  background-color: #131313;
*/
}


.footer-columns-container {
  display: flex;
    /*padding-top: 40px;
  padding-bottom: 60px;*/
}

.footer-columns-container .left-column-footer {
  display: flex;
  flex-direction: column;
  width: 240px;
}
.logo-container {
  display: flex;
  align-items: center;
  padding: 0px;
}
.company-title {
    background-color: #000000;
    color: white;
}
.logo-container .sun-logo {
  margin-left: 0;
  margin-right: 20px;
}

.copyrights {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: #000000;
    color: white;
/*
  color: #555555;
*/
}
.midle-column{
    width: 500px;
}
.right-column-footer {
}
.right-column-footer a {
    margin-top:18px;
    
      display: block;
    width: 350px;
    text-align: center;
  text-decoration: none;
    background-color: #000000;
    color: white;
}
